# dependencies
node_modules/

# env
.env
.env.local
.env.*.local

# build output
client/dist/
dist/
build/

# prisma
server/prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.vscode/
.idea/
